.mainContainer {
  padding: 4px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1;
  display: none;
}
@media screen and (min-width: 320px) {
  .mainContainer {
    padding: 8px;
    height: 52px;
    flex-direction: row;
  }
  .spacer {
    display: block;
  }
}
